<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidjot</title>
    <link type="text/css"  href="/assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<body>
    {{>_navbar}}
    <div class="container">
        {{>_msg}}
        {{>_errors}}
        {{{body}}}
    </div>
    <script src="/assets/jquery/jquery-3.3.1.slim.min.js"></script> 
    <script src="/assets/js/bootstrapjs/bootstrap.min.js"></script>
 
</body>
</html>