<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3>Account Register</h3>
            <form action="">
                {{!-- Name field --}}
                <div class="form-group">
                    <label for="name" >Name</label>
                    <input type="text" name="name" class="form-control" required>
                </div>
                {{!-- Email field --}}
                <div class="form-group">
                    <label for="email" >Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                {{!-- Password  field--}}
                 <div class="form-group">
                    <label for="password" >Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                {{!--Confirm Password  field--}}
                 <div class="form-group">
                    <label for="password2" >Confirm Password</label>
                    <input type="password" name="password2" class="form-control" required>
                </div>
                {{!-- Sunmit button --}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>